.home{
    width: 500px;
    height: 500px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    grid-auto-rows: 20px;
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d";
    align-items: start;
}
.get{
    width: 90px;
    height: 30px;
    color: blueviolet;
    background-color: red;
}
.item1{
  margin: 10px;
}